DATA_SOURCE_URI=pgvector:5432/postgres?sslmode=disable
# pgvector: service name, they will connect to it throught the network i made (backend), ssl: encrypted
DATA_SOURCE_USER=postgres
DATA_SOURCE_PASS=ragapp22