fastapi==0.129.2
uvicorn==0.41.0
python-multipart==0.0.22 # Gemini said It is required to support file uploads in your FastAPI application.
python-dotenv==1.2.1
pydantic-settings==2.13.1 # for configuration management and validation of settings in FastAPI applications.
aiofiles==25.1.0 # to deal with files as a chunks
langchain==1.2.10
pymupdf==1.27.1
langchain_community==0.4.1
motor==3.7.1
openai==2.21.0
cohere==5.20.6
qdrant-client==1.17.0